@import "tailwindcss";
@import "tw-animate-css";



:root {
  --radius: 0.625rem;

  --color-domino-50: #f6f4f0;
  --color-domino-100: #e8e4d9;
  --color-domino-200: #d3c9b5;
  --color-domino-300: #b9a88b;
  --color-domino-400: #a48d6b;
  --color-domino-500: #91785a;
  --color-domino-600: #80654e;
  --color-domino-700: #675041;
  --color-domino-800: #58443b;
  --color-domino-900: #4d3c36;
  --color-domino-950: #2c201c;

  --background: var(--color-domino-50);
  --foreground: var(--color-domino-900);
  --card: var(--color-domino-100);
  --card-foreground: var(--color-domino-800);
  --popover: var(--color-domino-100);
  --popover-foreground: var(--color-domino-800);
  --primary: var(--color-domino-500);
  --primary-foreground: var(--color-domino-50);
  --secondary: var(--color-domino-200);
  --secondary-foreground: var(--color-domino-700);
  --muted: var(--color-domino-100);
  --muted-foreground: var(--color-domino-600);
  --accent: var(--color-domino-400);
  --accent-foreground: var(--color-domino-900);

  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: var(--color-domino-800);
  --sidebar-foreground: var(--color-domino-50);
  --sidebar-primary: var(--color-domino-600);
  --sidebar-primary-foreground: var(--color-domino-100);
  --sidebar-accent: var(--color-domino-500);
  --sidebar-accent-foreground: var(--color-domino-50);
  --sidebar-border: var(--color-domino-700);
  --sidebar-ring: var(--color-domino-500);
}

.dark {
  --background: var(--color-domino-900);
  --foreground: var(--color-domino-50);
  --card: var(--color-domino-800);
  --card-foreground: var(--color-domino-100);
  --popover: var(--color-domino-800);
  --popover-foreground: var(--color-domino-100);
  --primary: var(--color-domino-500);
  --primary-foreground: var(--color-domino-100);
  --secondary: var(--color-domino-700);
  --secondary-foreground: var(--color-domino-200);
  --muted: var(--color-domino-800);
  --muted-foreground: var(--color-domino-300);
  --accent: var(--color-domino-600);
  --accent-foreground: var(--color-domino-100);

  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: var(--color-domino-200);
  --sidebar-foreground: var(--color-domino-900);
  --sidebar-primary: var(--color-domino-400);
  --sidebar-primary-foreground: var(--color-domino-950);
  --sidebar-accent: var(--color-domino-300);
  --sidebar-accent-foreground: var(--color-domino-800);
  --sidebar-border: var(--color-domino-400);
  --sidebar-ring: var(--color-domino-600);
}
